body {
    font-family: Monospace;
    background-color: #B39EB5;

}

.block-container {
    display:inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 380.88px;
    height: 300px;
    /*border: 1px solid #eee;*/
}

.margin-below {
    margin-bottom: 10px;
}

.bold-text {
    font-weight: bold;
}

img {
    width: 150px;
    height: 150px;
}

ul {
  list-style-type: none;
}

h1 {
    text-align: center;
    color: #777696;
}

.center-body {
    align-content: center;
    text-align: center;
}

.fixed-gap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.column-division {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.input-style {
    width: 142px;
}